extends layout

block content
  .container.center-div
    .row.form-user
      .col-sm
        .row
          .col-sm-8.py-2
            h2 Edit Profile
          .col-sm-2.pr-0
            button.btn.btn-secondary(style="color: white" type="button" data-toggle='modal' data-target='#exampleModal') Change Password
            #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
              .modal-dialog.modal-dialog-centered.modal-sm(role='document')
                .modal-content
                  .modal-header.py-2.px-0.mx-3
                    h5#exampleModalLabel.modal-title.col-12.px-0.text-center(style="font-size: 1.25rem;font-weight: bold;color: black;") Change Password
                  .modal-body.pb-o
                    form.needs-validation#form-edit-password(novalidate='')
                      input.form-control(type='text' name='id' value=user._id hidden)
                      .row
                        .col-12
                          .form-group.password
                            label(for='password') Password
                            input#password.form-control(type='password' placeholder='*******' name='password' required='', pattern='^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])([ \\W\\w\\d]+)$', minlength=8)
                        .col-12
                          .form-group.confirm_password
                              label(for='confirm_password') Confirm Password
                              input#confirm_password.form-control(type='password' placeholder='*******' name='confirm_password' required='', pattern='^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])([ \\W\\w\\d]+)$', minlength=8)
                  .modal-footer(style="border:0")
                    button.btn.btn-primary.btn-bottom(onclick=`editPassword("${user.username}");return false`) Edit Password
          .col-sm-2.pl-0
            button.btn.btn-danger(style="color: white" type="button" onclick=`openDeleteAccountConfirmModal("${user.username}")`) Delete Account
        form.px-4.py-3.needs-validation#form-edit-profile(novalidate='')
          input.form-control(type='text' name='id' value=user._id hidden)
          .row
            .col-sm
              .form-group.first_name
                label(for='first_name') First Name
                input#first_name.form-control(type='text' placeholder='Joe' name='first_name' required='' value=user.first_name)
            .col-sm
              .form-group.last_name
                label(for='last_name') Last Name
                input#last_name.form-control(type='text' placeholder='Brown' name='last_name' required='' value=user.last_name)
          .row
            .col-sm
              .form-group.username
                  label(for='username') Username
                  input#username.form-control(type='text' placeholder='jb_12345' name='username' required='' value=user.username)
            .col-sm
              .form-group.email
                  label(for='email') Email
                  input#email.form-control(type='email' placeholder='pg12345@alunos.uminho.pt' name='email' required='' value=user.email)
          .row
            .col-sm
              .form-group.institution
                label(for='institution') Institution
                input#institution.form-control(type='text' placeholder='Univ. Minho' name='institution' required='' minlength=2 value=user.filiation.institution)
            .col-sm
              .form-group.position
                  label(for='position') Position
                  input#position.form-control(type='text' placeholder='student' name='position' required='' minlength=2 value=user.filiation.position)
          
          button.btn.btn-primary.btn-bottom(onclick=`editProfile("${user.username}");return false`) Edit Profile
        .dropdown-divider
  

    .col-12
      #successModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-sm(role='document')
          .modal-content
            .modal-body.pb-o.text-center
              h2
                i.fas.fa-check(style="color:green")
              h4.text-center(id="successModalMessage")
            .modal-footer(style="border:0")
              button.col-12.btn.btn-primary(style="background:#343a40;border:0;box-shadow: none!important" onclick='location.reload()') Ok

    .col-12
      #deleteModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-sm(role='document')
          .modal-content
            .modal-body.pb-o.text-center
              h2
                i.fas.fa-exclamation-triangle(style="color:red")
              h4 Are you sure you want to delete your account?
            .modal-footer(style="border:0")
              button.col-12.btn.btn-danger(id="deleteAccountConfimBtn" style="border:0;box-shadow: none!important") Yes
              button.col-12.btn.btn-primary(style="background:#343a40;border:0;box-shadow: none!important" onclick="$('#deleteModal').modal('hide')") No


